<li class="list-group-item">
    Game #{{ game.id }}: {{ game.userX.email }} vs {{ game.userO.email }}
    <a href="{{ path('app_game_play', {'id': game.id}) }}" class="btn btn-sm btn-info float-end">Watch</a>
</li>