<li class="list-group-item d-flex justify-content-between align-items-center">
    Game #{{ game.id }} (Host: {{ game.userX.email }})
    {% if is_granted('ROLE_USER') and game.userX != app.user %}
        <a href="{{ path('app_game_join', {'id': game.id}) }}" class="btn btn-sm btn-success">Join</a>
    {% endif %}
</li>