{% extends 'base.html.twig' %}

{% block title %}Tic Tac Toe - Home{% endblock %}

{% block body %}
    <div class="row">
        <div>
            <h1>Tic Tac Toe</h1>
            <a href="{{ path('app_game_new') }}" class="btn">Create New Game</a>

            {% if waitingGames|length > 0 %}
                <ul>
                    {% for game in waitingGames %}
                        <li>
                            Game #{{ game.id }} / {{ game.createdAt|date('Y-m-d H:i:s') }}
                            <a href="{{ path('app_game_join', {'id': game.id}) }}" class="btn">Join</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>There are no available games.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
